---
layout: default
---

<div class="index_wrapper">

<!--   <nav class="navigation">
    <h1 class="navigation_header">Ben Wilcox</h1>
    <h2 class="navigation_subheader">Web Developer and Designer</h2>
  </nav> -->
  
  <div class="content">
    <div class="postlist" id="projects">
      <h3 class="postlist_title">Projects</h3>
      <hr class="postlist_rule" />
      <ul class="postlist_items">
        {% for post in site.posts %}
          {% if post.category == "project" %}
          <li class="post">
            <a class="post_link" href="{{ post.url | prepend: site.baseurl }}">
              <span class="post_meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h3 class="post_title">{{ post.title }}</h3>
              <p class="post.exceprt">
              {{ post.description }}
              </p>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="postlist" id="blog">
      <h3 class="postlist_title">Blog</h3>
      <hr class="postlist_rule" />
      <ul class="postlist_items">
        {% for post in site.posts %}
          {% if post.category == "blog" %}
          <li class="post">
            <a class="post_link" href="{{ post.url | prepend: site.baseurl }}">
              <span class="post_meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h3 class="post_title">{{ post.title }}</h3>
              <p class="post_excerpt">
                {{ post.description }}
              </p>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div>

  <div class="contact" id="contact">
    <h3 class="contact_header">Contact</h3>
    <ul class="contact_list">
      <li class="contact_link">
        <a href="tel:+14135797376">
          <img class="contact_icon" src="./media/icons/phone.svg" />
          <span class="contact_name">(413) 579 7376</span>
        </a>
      </li>
      <li class="contact_link">
        <a href="#">
          <img class="contact_icon" src="./media/icons/mail2.svg" />
          <span class="contact_name">reccanti@gmail.com</span>
        </a>
      </li>
      <li class="contact_link">
        <a href="https://twitter.com/reccanti">
          <img class="contact_icon" src="./media/icons/twitter.svg" />
          <span class="contact_name">Twitter</span>
        </a>
      </li>
      <li class="contact_link">
        <a href="http://codepen.io/recanti/">
          <img class="contact_icon" src="./media/icons/codepen.svg" />
          <span class="contact_name">CodePen</span>
        </a>
      </li>
      <li class="contact_link">
        <a href="https://github.com/recanti">
          <img class="contact_icon" src="./media/icons/github.svg" />
          <span class="contact_name">GitHub</span>
        </a>
      </li>
    </ul>
  </div>

</div>
