---
layout: default
---

<div class="home">

<!--   <nav class="navigation">
    <h1 class="navigation_header">Ben Wilcox</h1>
    <h2 class="navigation_subheader">Web Developer and Designer</h2>
  </nav> -->

  <div class="contact">
    <ul class="contact_list">
      <li class="contact_icon">
        <a href="https://twitter.com/reccanti">Twitter</a>
      </li>
      <li class="contact_icon">
        <a href="http://codepen.io/recanti/">CodePen</a>
      </li>
      <li class="contact_icon">
        <a href="https://github.com/recanti">GitHub</a>
      </li>
    </ul>
  </div>
  
  <div class="content">
    <div class="postlist">
      <h3 class="postlist_title">Projects</h3>
<!--       <hr class="postlist_rule" /> -->
      <ul class="postlist_items">
        {% for post in site.posts %}
          {% if post.category == "project" %}
          <li class="post">
            <a class="post_link" href="{{ post.url | prepend: site.baseurl }}">
              <h3 class="post_title">{{ post.title }}</h3>
              <span class="post_meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="postlist">
      <h3 class="postlist_title">Blog</h3>
<!--       <hr class="postlist_rule" /> -->
      <ul class="postlist_items">
        {% for post in site.posts %}
          {% if post.category == "blog" %}
          <li class="post">
            <a class="post_link" href="{{ post.url | prepend: site.baseurl }}">
              <h3 class="post_title">{{ post.title }}</h3>
              <span class="post_meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div>

</div>
