<header class="header">
	<div class="header_content">
		<div class="header_titlegroup">
			<a href="{{ site.baseurl }}/index.html">
		  		<h1 class="header_title">Ben Wilcox</h1>
		  		<h2 class="header_subtitle">Making cool things for the web</h2>
	  		</a>
	  	</div>
		<ul class="header_navlist">
		  	<li class="header_navitem"><a class="header_navlink" href="/about.html">About</a></li>
		  	<li class="header_navitem"><a href="/#projects">Projects</a></li>
		  	<li class="header_navitem"><a href="/#blog">Blog</a></li>
		  	<li class="header_navitem"><a href="/#contact">Contact</a></li>
		  	<li class="header_navitem"><a href="/resume.html">Resume</a></li>
		  	<li class="header_navitem"><a href="/hire.html">Hire Me</a></li>
		</ul>
	</div>
</header>