@import "profile";
@import "header";

.about {
	p {
		@include font-sizing($base-font-size);
		padding-bottom: 1rem;
	} 

	&_picture {
		width: span(6 of 12);
		height: auto;
		border-radius: 50%;
		margin: 20px span(3);
		display: inline-block;

		@media (max-width: 768px) {
			width: span(4 of 8);
			margin: 20px span(2 of 8);
		}

		@media (max-width: 480px) {
			width: span(12);
			margin: 20px auto;
		}
	}

	&_header {
		color: black;
		@include font-sizing($subheader-font-size);
		font-weight: bold;
	}
}