// Style the main header, the bar that will appear at the top of each page on 
// the site.
// 
// _title 		- the title of the site
// _subtitle 	- a subtitle for the site
// _navlist		- navigation to different pages on the site
// _navitem		- a navigation item in the navlist. It contains an anchor tag
// 				  which links to the specified page.
.header {

	$content-height: 75px;

	@include span(12);
	min-height: 150px;
	display: flex;
	align-items: center;
	border-bottom: 3px solid colors(orange);

	&_content {
		@include span(12);
		vertical-align: middle;
		position: relative;

		// @media (max-width: 768px) {
		// 	text-align: center;	
		// }
		//min-height: $content-height;
	}

	&_titlegroup {
		@include span(4);
		a {
			@include link-reset;
		}
		@media (max-width: 768px) {
			@include span(12);
		}
		//position: absolute;
		//bottom: 0;
	}
	&_title {
		@include header-collection;
		padding-left: gutter();
		@include font-sizing($header-font-size);
	}
	&_subtitle {
		padding-left: gutter();
		@include header-collection;
		@include font-sizing($small-font-size);
	}
	&_navlist {
		@include span(8 last);
		margin: 1rem 0 1rem 0;
		text-align: right;
		//position: absolute;
		// bottom: 0;
		// right: 0;
		display: flex;
		justify-content: flex-end;

		@media (max-width: 768px) {
			@include span(12);
			text-align: center;
			justify-content: center;
			//margin: 0 auto;
		}

	}
	&_navitem {
		font-family: $header-font-family;
		@include font-sizing($blog-font-size);
		display: inline-block;
		margin-right: gutter();	
		a {
			box-sizing: border-box;
			display: table-cell;
			height: $content-height;
			vertical-align: middle;
			@include link-reset;

			border-bottom: 0;
			color: colors(black);
			@include on-hover(border-bottom);
			&:hover {
				border-bottom: 5px solid colors(green);
				color: colors(green);
			}
			@media (max-width: 768px) {
				//@include font-sizing($base-font-size);
				text-align: center;
			}
		}

		@media (max-width: 768px) {
			@include font-sizing($base-font-size);
			text-align: center;
		}

	}
}