// Define all of the colors that will be used in a sass-map. This allows
// classes based on colors to be quickly generated.
$colors: (
  black: #090700,
  green: #1B907F,
  tan: #FEFBF4,
  white: #FFFFFF,
  orange: #F1B60A,
);